var addClass = function(arr,year,month,value){
  var status = false;
  var item =  year + "-" + (month > 9 ? month : "0" + month) + "-" + (value > 9 ? value : "0" + value);
  for(var i = 0; i < arr.length; i++){
    if(arr[i] == item){
      status = true;
      break;
    }
  }

  return status;
}

var isClick = function (item,start,end){

  var reg = getRegExp("-", "g");
  var startTime = start.replace(reg, '/');
  var endTime = end.replace(reg, '/');
  console.log(item, start, end, startTime, endTime)
  var status = false;
  if (getDate(startTime).getTime() <= getDate(item).getTime() && getDate(endTime).getTime() >= getDate(item).getTime()){
    status = true;
  }
  console.log(getDate(startTime).getTime(), getDate(item).getTime(), getDate(endTime).getTime(), status)
  return status;  
}

module.exports = {
  addClass: addClass,
  isClick: isClick
}